*{
    margin: 0px;
    padding: 0px;
}
html {
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;

}
.login-form{
    padding: 20px;
    width: 400px;
    background-color: rgb(189, 212, 231);
    border-radius: 5px;
    
}
.login-text{
    display: flex;
    background-color: rgb(68, 65, 65);
    
}
.login-text p{
    color: white;
    font-size: 20px;
    padding: 10px;
}
.input{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.input input{
    margin: 5px 0;
    height: 30px;
    text-align: center;
}
.input input::placeholder{
    text-align: center;
}
.submit{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    
}
.submit input{
    width: 100px;
    height: 50px;
    background-color: rgb(2, 96, 2);
    color: white;
    border-radius: 5px;
    border: none;
}
.submit input:hover{
    background-color: rgb(1, 55, 1);
    color: white;
    cursor: pointer;
}
.submit a{
    text-decoration: none;
    color: rgb(2, 96, 2);
    font-weight: bold;
}
